@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$colorsMain: #670b06;
$SecondColor: #bd6559;
$therdColor: #825d60;
$fourColors: #9d0f0a;
$fourLightColors: #9d0f0af1;
$fifthColors: #9d7e8d;
$SixthColor: #9a6456;
$SixthLightColor: #a4857d;
// body {
//   background: rgb(255, 255, 255);
//   background: radial-gradient(
//     circle,
//     rgba(255, 255, 255, 1) 69%,
//     rgba(103, 11, 6, 1) 99%
//   );
// }
body {
  position: relative;
  overflow-x: hidden;
}
.container {
  width: 95vw;
  margin: auto;
}
.login-container {
  margin-top: 20px;
  align-items: center;
  width: 80%;
  height: 650px;
  box-shadow: 0px 0px 10px #670b06b0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  .strip {
    font-size: 12px;
    width: 50%;
    height: 705px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: $fourColors;
    &:hover {
      background-color: $fourLightColors;
      .icon {
        background-color: $SixthLightColor;
      }
    }
    .icon {
      background-color: $SixthColor;
      padding: 20px;
      border-radius: 50%;
    }

    h1 {
      color: white;
      margin-top: 30px;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    // border-radius: 30px;
    // background-color: $Color;
    padding: 20px;
    justify-content: center;
    height: 700px;
    width: 50%;
    .submit-btn {
      border-radius: 5px;
      font-size: large;
      height: 50px;
      width: 120px;
    }
    .btn-container {
      gap: 50;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .links-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.sidebar-container {
  position: absolute;
  left: 0;
  top: 20;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  height: 92.75vh;
  padding: 0;
  width: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin: auto;
  // Active
  // position: absolute;
  // left: 0;
  z-index: 999;
  transition: 0.4s;
  ul {
    // padding: 0 20px;
    background-color: $therdColor;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style: none;
    position: relative;
    .nav-icon {
      // padding: 0 20px;
      top: 0;
      right: 0;
      left: 0;
      position: absolute;
    }
    .item {
      width: 100%;
      height: 60px;
      cursor: pointer;
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 10px;
      &:hover {
        border-radius: 30px;
        background-color: $fifthColors;
        a {
          color: rgb(34, 30, 30);
          transform: scale(1.2);
        }
      }
      a {
        margin: auto;
        width: 100%;
        height: 100%;
        gap: 20px;
        display: flex;
        text-transform: capitalize;
        // font-size: 16px;
        align-items: center;
        text-align: center;
        justify-content: center;
        // display: none;
        color: #bfbfbf;
        text-decoration: none;
        font-size: 18px;
        transition: 0.2s;
        span {
          display: none;
        }
        img {
          width: 32px;
          height: auto;
        }
      }
    }
  }
}

.sidebar-container-active {
  width: 210px;
  ul {
    .item {
      a {
        width: 100px;
        justify-content: space-between;

        span {
          display: block;
        }
      }
    }
  }
}

.navbar-container {
  width: 100vw;
  box-shadow: 0 3px 1px #1d1d1d45;

  .navbar {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: space-between;
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      .title-logo {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        color: rgb(104, 104, 104);
      }
      .logo {
        border-radius: 35%;
        width: 60px;
        height: auto;
      }
    }
    .search-bar {
      display: flex;
      align-items: center;
      padding: 0 5px;
      box-shadow: 5px 0 15px 2px rgba(0, 0, 0, 0.322);
      border-radius: 30px;
      img {
        width: 30px;
        // border: 2px solid rgba(70, 70, 70, 0.479);
        // box-shadow: -5px 0 10px 5px rgba(0, 0, 0, 0.322);
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      input {
        // box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.322);
        border: none;
        // border: 2px solid rgba(70, 70, 70, 0.479);
        font-size: 16px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 32px;
        border-left: none;
        outline: none;
      }
    }
  }
}

.cards {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 620px);
  text-align: center;
  align-items: center;
  justify-content: center;
  // gap: 10px;
  .card {
    background-color: white;
    width: 65%;
    height: 73%;
    // margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 5px #1d1d1da7;
    border-radius: 10px;
    cursor: default;
    transition: 0.5s;
    .percentage {
      width: 100px;
      height: auto;
    }
    p {
      font-size: 26px;
    }
    .percentage {
      font-size: 24px;
    }
    &:hover {
      transform: scale(1.15);
      box-shadow: 2px 1px 5px #1d1d1d45;
      border-radius: 0;
    }
  }
  .card:nth-child(1),
  .card:nth-child(2) {
    background-color: rgb(255, 119, 119);
  }
}

.table-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //  text-align: left;
  width: 90vw;
  margin: auto;
  height: 70vh;
  line-height: 4;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    h1 {
      color: #525252;
    }
    .add-new-btn {
      border-radius: 10px;
    }
    .links {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 18px;
      color: rgb(58, 58, 58);
      // width: 200px;
      // margin: auto;
      span {
        order: 2;
      }
      // .content-arrows {
      //   display: flex;
      //   gap: 5px;
      //   font-size: 22px;
      //   span {
      //     transform: translateX(-100%);
      //   }
      //   &:hover {
      //     display: flex;
      //     span {
      //       &:nth-child(0) {
      //         transition: 2s;
      //       }
      //       &:nth-child(1) {
      //         transition: 3s;
      //       }
      //       &:nth-child(2) {
      //         transition: 4s;
      //       }
      //       transform: translateX(0);
      //     }
      //   }
      // }
    }
  }
  .table-container {
    width: 90%;
  }
  .btn-container {
    display: flex;
    gap: 5px;
    .btn-action {
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
    }
  }
}
.sub-container {
  width: 100%;
  height: 85vh;
  align-items: center;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    img {
      border-radius: 50%;
      padding: 25px;
      background-color: #000000c7;
      margin: auto;
      width: 200px;
      height: auto;
    }
  }
}
.spin-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
}

.progress-bar {
  z-index: 999;
}
